# Ambiente virtual
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dados (NÃO subir datasets)
data/raw/
data/bronze/
data/silver/

# Formatos pesados
*.parquet
*.csv
*.txt

# Arquivos EEG (BrainVision)
*.eeg
*.vhdr
*.vmrk

# Arquivos compactados
*.zip
*.tar.gz

# Sistema
.DS_Store
Thumbs.db