# Ambiente virtual
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/


# dados brutos
*.eeg
*.vhdr
*.vmrk

# CSVs de sensores (se forem grandes ou brutos)
data/**/*.csv
data/**/*.txt

# Arquivos compactados
*.zip
*.tar.gz

# Arquivos do sistema
.DS_Store
Thumbs.db